@font-face {
    font-family: Blazma;
    src: url(Blazma-Regular.ttf);
}

::selection {
    background: #34fa6b;
}

:root {
    --font-color: #ffffff;
    --header-color: #1f1f58;
    --catalog-color: #b5c6ff;
    --backg-color: #161629;
    --alert-color: #0000ff;
}

.body {
    display: block;
    /*background-image: url('./images/coustom-background.jpg');*/
    background-color: var(--backg-color);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
    font-family: Blazma;
}

.headerP {
    background-color: var(--header-color);
    padding-left: 0%;
    size: 20%;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    padding-bottom: 0%;
    overflow: auto;
}

.headerP nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--header-color);

}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.homeBtn {
    display: block;
    text-align: center;
    color: var(--font-color);
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 2rem;
    float: left;
}

.registerBtn {
    display: block;
    text-align: center;
    color: var(--font-color);
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 2rem;
    float: right;
}

#logoutBtn {
    display: block;
    text-align: center;
    color: var(--font-color);
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 2rem;
    float: right;
}

.loginBtn {
    display: block;
    text-align: center;
    color: var(--font-color);
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 2rem;
    float: right;
}

.main {
    margin-top: 6rem;
}
    
.catalogs {
    box-shadow: 0.2rem 0.3rem 1rem #00000075;
    /*border: 1px; 
    border-style: solid; 
    border-color:#000000;*/
    border-radius: 0.5rem;
    background-color: var(--catalog-color);
    align-items: center;
    width: 50rem;
    float: left;
    margin: 0.5rem;
}

.miniLogo {
    width: 3rem; 
    height: 3rem; 
    float: left; 
    top: 0%; 
    left: 0%; 
    bottom: 0%;
}

.name {
    border: 0;
    border-right: 0.1rem;
    border-style: solid; 
    border-color: var(--header-color);
    padding: 1rem;
    width: 10rem;
    float: left;
    text-align: right;
    font-size: 2rem;
}

.statisticsA {
    padding: 1rem;
    width: 25rem;
    float: left;
    font-size: 2.5rem;
    text-align: left;
}

.details {
    float: left;
    margin: 1.2rem;
    padding: 0.5rem;
    width: 6rem;
    font-size: 1.6rem;
    align-items: center;
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--alert-color);
    border-radius: 1.5rem;
}

.diagramLi {
    border:1px; 
    border-style:solid; 
    border-color:#000000; 
    padding: 0%;
    width: 35%;
    height: 35vw;
    float: right;
    margin: 5px;
    margin-left: 0%;
}

.signInPage {
    background-color: aliceblue;
    border-style:solid;
    border-radius: 5px;
    border-color: #000000;
    box-shadow: 3px 5px #8a8a8a;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    font-size: 20px;
}

.signUpPage {
    background-color: aliceblue;
    border-style:solid;
    border-radius: 5px;
    border-color: #000000;
    box-shadow: 3px 5px #8a8a8a;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    font-size: 20px;
}

.heading {
    border:0px;
    border-bottom: 3px;
    border-style:solid; 
    border-color:#000000; 
    padding-top: 3%;
    font-size: 36px;
    text-align: center;
    padding-bottom: 3%;
}

.signField {
    border-style: none;
}

.signParams {

    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: 40px;
    padding-top: 3%;
}

.vhide {
    padding-bottom: 1%;
    margin-bottom: 2%;
    font-size: 30px;
}

.email {
    padding-top: 1%;
    border-style: solid;
    border-radius: 5px;
    border-color: #535252;
    width: 50%;
    size: 20%;
    font-size: 20px;
}

.password {
    margin-top: 3%;
    padding-top: 1%;
    border-style: solid;
    border-radius: 5px;
    border-color: #535252;
    width: 50%;
    size: 20%;
    font-size: 20px;
}

.confirm-password{
    margin-top: 3%;
    padding-top: 1%;
    border-style: solid;
    border-radius: 5px;
    border-color: #535252;
    width: 50%;
    size: 20%;
    font-size: 20px;
}

.login {
    margin-top: 10%;
    size: 20%;
    font-size: 30px;
    width:70%;
}

.register {
    margin-top: 10%;
    size: 20%;
    font-size: 30px;
    width:70%;
}

.noAcc {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

.hasAcc {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}

.detailed-heading {
    float: left;
    margin-top: 0%;
    width: 70%;
}

.detailed-investmentLogo {
    width:70px; 
    height:70px; 
    float: left; 
    top:0%; 
    left:0%; 
    bottom:0%;
    margin-top: 0.3%;
}

.detailed-investmentName {
    float: left;
    text-align: left;
    margin-left: 1%;
    font-size: 50px;
    color: azure;
    margin-top: 1%;
    width: 30%;
}

.detailed-investmentCEO {
    float: left;
    margin-left: 1%;
    font-size: 50px;
    color: azure;
    margin-top: 1%;
}

.detailsDiagram {
    display: block;
    border:1px; 
    border-style:solid; 
    border-color:#000000; 
    width: 70%;
    height: 70%;
    position: absolute;
    margin-top: 5.3%;
    margin-left: auto;
    margin-right: auto;
}

.miniCatalogList {
    border:1px;
    border-style:solid;
    border-color:#000000;
    background-color: aliceblue;
    padding: 0%;
    padding-top: 1%;
    width: 25%;
    height: 32vw;
    float: right;
    margin: 5px;
    margin-left: 0%;
    margin-top: 5.3%;
}

.miniCatalog {
    box-shadow: 2px 3px #3a3a3a;
    border:1px; 
    border-style:solid; 
    border-color:#000000;
    border-radius: 3px;
    background-color: white;
    align-items: center;
    width: 92%;
    float: right;
    margin: 5px;
    margin-right: 3%;
}

.miniCatalog-miniLogo {
    width:50px; 
    height:50px; 
    float: left; 
    padding: 3%;
    margin-top: 1%;
    top:0%; 
    left:0%; 
    bottom:0%;
}

.miniCatalog-name {
    float: left;
    padding: 3%;
    margin-top: 2%;
    width: 35%;
    font-size: 36px;
}

.miniCatalog-details {
    float: left;
    margin: 2%;
    margin-top: 3%;
    margin-left: 7%;
    padding: 12px;
    width: 20%;
    font-size: 150%;
    align-items: center;
    text-align: center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border: #000000;
    border-style: solid;
}